<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:replace="fragments/header"></nav>

<form action="#" th:action="@{/add}" method="post">

    <label for="naam"></label>
    <input type="text" name="naam" id="naam" >

    <label for="description"></label>
    <input type="text" name="description" id="description">

    <label for="dateTime"></label>
    <input type="datetime-local" name="dateTime" id="dateTime">


    <input type="submit">
</form>

</body>
</html>
