<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="fragments/header"></header>

<form th:action="@{/__${id}__/sub/create/task}" method="post">

    <label for="titel" th:text="#{Name}"></label>
    <input type="text" name="titel" id="titel"><br/>

    <label for="description" th:text="#{Description}">Subtask Description</label>
    <input type="text" name="description" id="description"><br/>

    <input type="submit" th:value="#{Submit}">
</form>

</body>
</html>
