<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="fragments/header"></header>


<form th:action="@{/confEdit}" th:object="${taak}" method="post">

    <input type="hidden" th:value="*{id}" name="nummer">


    <label for="naam" th:text="#{Name}"></label>
    <input type="text" th:field="*{naam}" name="naam" id="naam"><br/>



    <label for="description" th:text="#{Description}"></label>
    <input type="text" name="description" id="description" th:field="*{description}"><br/>

    <label for="dateTime" th:text="#{DueDate}"></label>
    <input type="datetime-local" name="dateTime" id="dateTime" th:field="*{dateTime}"><br/>


    <input type="submit" th:value="#{Submit}">
</form>

</body>
</html>
