<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task Detail</title>
</head>
<body>

<header th:replace="fragments/header"></header>

<table>
    <tr th:text="${taakje.naam}"></tr><br/>
    <tr th:text="${taakje.description}"></tr><br/>
    <tr th:text="${taakje.dueDate}"></tr><br/>
</table>

<table>

<tr th:each="r: ${taakjes}">


    <td th:text="${r.titel}"/>
    <td th:text="${r.description}"/>

</tr>
</table>

<p>
    <a th:href="@{/tasks/__${id}__/sub/create}" th:text="#{AddSubtask}"></a>
</p>


</body>
</html>
