<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="UTF-8">
    <title>Overview</title>
</head>
<body>
<header th:replace="fragments/header"></header>

<table>
    <tr>
        <th th:text="#{ID}"></th>
        <th th:text="#{Name}"></th>
        <th th:text="#{DueDate}"></th>
    </tr>

    <tr th:each="r: ${tasks}">

        <td>
            <a th:href="@{/tasks/{id} (id=${r.id})}"
               th:text="${r.id}"></a>
        </td>
        <td th:text="${r.naam}"/>
        <td th:text="${r.dateTime}"/>
        <td>
            <a th:href="@{/edit/{id} (id=${r.id})}" th:text="#{EditTask}"></a>
        </td>

    </tr>
</table>

</body>
</html>
